<!doctype html>
<html ng-app="movieApp" lang="en">
<head>
  <title>Movies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="test.js"></script>
  <meta charset="UTF-8">
</head>
<body>
  <main ng-controller="MoviePanel">
    <form ng-submit="search()" autofocus="autofocus">
      <h1>Search {{searchInput}}</h1>
      <input class="dropdown" type="text" name="somefield" ng-model="searchInput" ng-change="search()">
      <button>Search</button>
    </form>
    <h1>Results</h1>
    <section class="result">
      <ol class="dropdown-toggle">
        <li ng-repeat="amovie in movieList">
          {{ amovie.Title }} <em>({{ amovie.Year }})</em>
        </li>
    </ol>
    </section>
  </main>
</body>
</html>