<!DOCTYPE html>
<html data-ng-app="movieApp" lang="en">

  <head>
    <title>Movies</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="search.js"></script>
    <link rel="stylesheet" href="/stylesheet.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <main data-ng-controller="MoviePanel" class="container">
      <div class="row">
        <form class="search-form" data-ng-submit="search(searchInput)">
          <input type="input" placeholder="Search by film!" name="search-field" class="search-field" data-ng-model="searchInput">
        </form>
      </div>
      <div class="row">
        <div class="search-results col-md-4">
          <ul class="movie-list" id="search-drop-down">
            <li class="movie-in-list" data-ng-repeat="movie in movieList">
              <div data-ng-click="showDetails(movie)">
                <strong>{{ movie.Title }}</strong> <em>({{ movie.Year }})</em></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="movie-details col-md-8" data-ng-hide="movieInfoInvisible">
          <a data-ng-href="http://imdb.com/title/{{ movieDetails.imdbID }}" class="title">{{ movieDetails.Title }}</a>
          <div class="rating">({{ movieDetails.Rated }})</div>
          <div class="row">
            <div class="col-md-6">
              <img class="movie-poster" src="{{ movieDetails.Poster }}">
            </div>
            <div class="col-md-6">
              <div class="plot">{{ movieDetails.Plot }}</div>
            </div>
          </div>


        </div>
      </div>

    </main>
  </body>

</html>