body {
  font-family: 'Lato', sans-serif;
  background-color: grey;
}

.row {
  margin: 1em 0 1em;
}

.search-field {
  width: 100%;
  font-size: 2em;
  border-radius: 10px 10px;
}

.movie-list {
  list-style: none;
  font-size: 1.5em;
  color: white;
  line-height: 2em;
  height:
}

.movie-details {
  background: white;
  border-width: 1px;
  border-color: hsl(0, 0%, 87%);
  border-radius: 6px 6px;
  padding: 1em;
  text-align: center;
}
  .title {
    font-weight: bold;
    font-size: 1.5em;
  }

  .plot {
    font-weight: light;
    font-size: 1.5em;
    text-align: left;
  }