body {
  margin: 5px 20px;
}

img {
  position: absolute;
  right: 10%;
  z-index: 999
  width:200px;
  padding:5px;
  border:1px solid gray;
  margin: 5px 20px 5px 0px;
}

.search-drop-result:hover {
  background-color: #ccc;
  cursor: pointer;
  cursor: hand;
  position: static;
}

.movie-info {
  padding: 5px 15px;
  position: static;
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
}

#search-drop-down {
  top: 100%;
  left: 0;
  z-index: 10;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}